<div class="notification-item notification-list__item {% if isRead %}is-read{% endif %}">
  <div class="notification-item__timestamp">{{ timestamp|format_date('short') }}</div>
  <div class="notification-item__title">{{ title }}</div>
  {% if body %}
    <div class="notification-item__body">{{ body }}</div>
  {% endif %}
  <div class="notification-item__link">
    {{ link }}
  </div>
  {% if not sticky and not isRead %}
    <a class="notification-item__remove notification-markasread-trigger" href="#" data-notification-id="{{ id }}" data-notification-provider="{{ provider }}">Mark as read</a>
  {% endif %}
</div>
